* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  background-image: url(../Images/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 100vh;
}
.logo img {
  margin-top: 50px;
  margin-left: 50px;
  width: 100px;
}
.images {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.image {
  width: 50%;
  height: 150px;
  transition: 0.5s;
}
.image a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#i1 {
  background-image: url("../Images/cafe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: #d5cea3 solid 3px;
  transition: 0.5s;
}
#i2 {
  background-image: url("../Images/cafe2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: #000 solid 3px;
  transition: 0.5s;
}
#i3 {
  background-image: url("../Images/cafe3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: #000 solid 3px;
  transition: 0.5s;
}
#i4 {
  background-image: url("../Images/cafe4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: #d5cea3 solid 3px;
  transition: 0.5s;
}
.image:hover {
  align-items: flex-end;
}
#i1:hover {
  cursor: pointer;
  width: 100%;
  height: 300px;
}
#i2:hover {
  cursor: pointer;
  width: 100%;
  height: 300px;
}
#i3:hover {
  cursor: pointer;
  width: 100%;
  height: 300px;
}
#i4:hover {
  cursor: pointer;
  width: 100%;
  height: 300px;
}
.text {
  flex: 3;
  display: flex;
  text-align: justify;
  flex-direction: column;
  color: #d5cea3;
}
.head1 {
  font-family: serif;
  font-size: 50px;
  margin-left: 30px;
  margin-top: 200px;
}
.text p {
  margin-top: 50px;
  line-height: 30px;
  margin-left: 30px;
  font-size: 26px;
  width: 80%;
}
.icons {
  display: flex;
  justify-content: space-around;
  width: 400px;
}
.icons img {
  margin-top: 20px;
  width: 40px;
  background-color: #d5cea3;
  border-radius: 50%;
}
.text button {
  width: 300px;
  padding: 10px;
  margin-left: 30px;
  margin-top: 30px;
  background-color: #e5e5cb;
  border: none;
  border-radius: 20px;
  transition: 0.3s;
}
.text button a {
  font-size: 20px;
  font-family: serif;
  font-weight: 600;
  color: black;
  text-decoration: none;
}
.text button:hover {
  cursor: pointer;
  background-color: #d5cea3;
}
.text button:active {
  background-color: #e4d888;
  width: 290px;
}
.about {
  background-image: url(../Images/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about p,
.about h3,
.about h2 {
  margin-top: 50px;
  line-height: 30px;
  margin-left: 30px;
  font-size: 26px;
  width: 80%;
  color: #d5cea3;
  text-align: justify;
}
.about h2 {
  border: #fff solid 3px;
  text-align: center;
  padding: 10px;
}
.about p {
  color: #fff;
}
.logo1 img {
  margin-top: 50px;
  margin-left: 50px;
  width: 100px;
}
.last-p{
  margin-bottom: 50px;
}
