* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 7vh;
  border: #d5cea3 solid 2px;
  border-radius: 10px;
  display: none;
}
nav a {
  color: #fff;
  font-size: 6px;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #d5cea3 solid 1px;
}
body {
  display: flex;
  flex-direction: column;
  background-image: url(../Images/background2.png);
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
}
main {
  display: flex;
  height: 100vh;
}
.logo img {
  margin-top: 50px;
  margin-left: 50px;
  width: 100px;
}
.images {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.image {
  width: 50%;
  height: 150px;
  transition: 0.5s;
}
.image a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#i1,
#i2,
#i3,
#i4,
#i5 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: #d5cea3 solid 3px;
  transition: 0.5s;
}
#i1 {
  background-image: url("../Images/cafe.jpg");
}
#i2 {
  background-image: url("../Images/cafe2.jpg");
}
#i3 {
  background-image: url("../Images/cafe3.jpg");
}
#i4 {
  background-image: url("../Images/cafe4.jpg");
}
#i5 {
  background-image: url("../Images/cafe5.jpg");
}
.image:hover {
  align-items: flex-end;
}
#i1:hover,
#i2:hover,
#i3:hover,
#i4:hover,
#i5:hover {
  cursor: pointer;
  width: 100%;
  height: 300px;
}
.text {
  flex: 3;
  display: flex;
  text-align: justify;
  flex-direction: column;
  color: #d5cea3;
}
.head1 {
  font-family: serif;
  font-size: 50px;
  margin-left: 30px;
  margin-top: 200px;
}
.text p {
  color: #fff;
  margin-top: 50px;
  line-height: 30px;
  margin-left: 30px;
  font-size: 26px;
  width: 80%;
}
.icons {
  display: flex;
  justify-content: space-around;
  width: 400px;
}
.icons img {
  margin-top: 20px;
  width: 40px;
  background-color: #d5cea3;
  border-radius: 50%;
}
.text button {
  width: 300px;
  padding: 10px;
  margin-left: 30px;
  margin-top: 30px;
  background-color: #e5e5cb;
  border: none;
  border-radius: 20px;
  transition: 0.3s;
}
.text button a {
  font-size: 20px;
  font-family: serif;
  font-weight: 600;
  color: black;
  text-decoration: none;
}
.text button:hover {
  cursor: pointer;
  background-color: #d5cea3;
}
.text button:active {
  background-color: #e4d888;
  width: 290px;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about p,
.about h3,
.about h2 {
  margin-top: 50px;
  line-height: 30px;
  margin-left: 30px;
  font-size: 26px;
  width: 80%;
  color: #d5cea3;
  text-align: justify;
}
.about h2 {
  border: #fff solid 3px;
  text-align: center;
  padding: 10px;
}
.about p {
  color: #fff;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact p,
.contact h3,
.contact h2,
.contact ul {
  margin-top: 50px;
  line-height: 30px;
  margin-left: 30px;
  font-size: 26px;
  width: 80%;
  color: #d5cea3;
  text-align: justify;
}
.contact h2 {
  border: #fff solid 3px;
  text-align: center;
  padding: 10px;
}
.contact ul,
.contact ul li {
  margin-left: 40px;
  margin-top: 20px;
}
.contact p,
.contact ul {
  color: #fff;
}
.ico {
  display: flex;
  width: 400px;
  margin: 15px 0;
}
.ico img {
  margin: 20px 0px 0px 30px;
  width: 40px;
  background-color: #d5cea3;
  border-radius: 50%;
}
.logo1 {
  margin-top: 50px;
  margin-left: 50px;
}
.logo1 img {
  width: 100px;
}
.last-p {
  margin-bottom: 50px;
}
@media (max-width: 800px) {
  .images {
    display: none;
  }
  nav{
    display: flex;
  }
}
