* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #d5cea3;
}
body {
  background-image: url("../Images/background1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo h1 {
  display: inline-block;
  margin-left: 40px;
}
.logo img {
  width: 100px;
  margin-left: 40px;
  margin-top: 40px;
}
.wowflex {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wowflex h1 {
  font-size: 40px;
  border: #d5cea3 solid 3px;
  color: #fff;
  padding: 10px;
}
.wow {
  margin: 20px;
  width: 1155px;
  height: 650px;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}
h1 {
  margin-top: 50px;
}
.father {
  height: 300px;
  margin: 19px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.name {
  font-size: 22px;
  font-weight: 600;
  font-family: sans-serif;
}
.photo {
  height: 280px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: #d5cea3 solid 3px;
  border-radius: 30px;
}
#p1 {
  background-image: url(../Images/menu/lavender.jpg);
}
#p2 {
  background-image: url(../Images/menu/flat\ white.jpg);
}
#p3 {
  background-image: url(../Images/menu/cold\ brew.jpeg);
}
#p4 {
  background-image: url(../Images/menu/matcha\ latte.jpg);
}
#p5 {
  background-image: url(../Images/menu/spiced\ chai\ latte.jpg);
}
#p6 {
  background-image: url(../Images/menu/hibiscus\ berry\ iced\ tea.jpg);
}
#p7 {
  background-image: url(../Images/menu/Almond\ Croissants.webp);
}
#p8 {
  background-image: url(../Images/menu/Pain\ Au\ Chocolat.jpg);
}
#p9 {
  background-image: url(../Images/menu/lemon\ poppyseed\ muffins.jpg);
}
#p10 {
  background-image: url(../Images/menu/smashed\ avocado\ toast.jpg);
}
#p11 {
  background-image: url(../Images/menu/caprese-panini-plated.jpg);
}
#p12 {
  background-image: url(../Images/menu/Smoked-Salmon-Bagel.jpg);
}
.price {
  position: absolute;
  bottom: 10px;
  right: 20px;
  background-color: black;
  border-radius: 10px;
  padding: 2px;
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
}
.buttonf {
  display: flex;
  justify-content: center;
}
button {
  width: 75%;
  height: 70px;
  margin-left: 30px;
  margin-top: 30px;
  background-color: #e5e5cb;
  border: none;
  border-radius: 60px;
  transition: 0.3s;
  margin: 30px;
  display: flex;
  box-shadow: 0 0 7px #d5cea3;
}
button a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button a h2 {
  font-size: 30px;
  font-family: serif;
  font-weight: 600;
  color: black;
}
button:hover {
  cursor: pointer;
  background-color: #d5cea3;
}
button:active {
  background-color: #e4d888;
  width: 290px;
}
@media (max-width: 1300px) {
  .wow {
    width: 640px;
    height: 360px;
  }
  main {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .wow {
    width: 391px;
    height: 240px;
  }
  main {
    grid-template-columns: 1fr;
  }
}
