* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #d5cea3;
}
body {
  background-image: url(../Images/background1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo {
	margin-bottom: 20px;
	align-self: center;
}
.logo img {
  width: 100px;
}
form {
  width: 95%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
	margin: 0 auto;
  backdrop-filter: blur(5px);
  border: #d5cea3 solid 3px;
  border-radius: 20px;
  gap: 5px;
}
.header {
  grid-column: span 2;
  justify-self: center;
}
h2 {
  display: inline-block;
}
input {
  accent-color: #d5cea3;
  margin: 0 10px;
}
.item {
  background-color: black;
  padding: 10px;
  border-radius: 20px;
  border: #d5cea3 solid 1px;
  margin: 0 10px;
}
button {
  width: 300px;
  padding: 10px;
  margin: 30px;
  background-color: #e5e5cb;
  border: none;
  border-radius: 20px;
  transition: 0.3s;
  color: black;
  font-size: 16px;
  font-weight: 600;
  grid-column: span 2;
  justify-self: center;
}
button:hover {
  cursor: pointer;
  background-color: #d5cea3;
}
button:active {
  background-color: #e4d888;
  width: 290px;
}
